<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Push Notification Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="initPushSns()">AWS SNS</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" (click)="initPhonegapPush()">Ionic Plugin</ion-button>
      </ion-col>
      <!-- <ion-col>
        <ion-button disabled color="primary" (click)="initPushNotification()">FB Push Notification</ion-button>
      </ion-col>             -->
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-button color="primary" (click)="subscribeTopic()">Subscribe SNS Topic</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" (click)="listChannel()">List Channel</ion-button>
        </ion-col>
        <!-- <ion-col>
          <ion-button disabled color="primary" (click)="initPushNotification()">FB Push Notification</ion-button>
        </ion-col>             -->
      </ion-row>
      
  </ion-grid>

{{deviceToken | json}}

</ion-content>
